<div class="posts-wrapper row" id="posts">
  <%= render @posts %>
</div>
<%= will_paginate @posts %>





<% if false %>


	this portion is commented. This is another way of rendering all post.

	
	<div class="posts-wrapper row" id="all_posts">
	  <% @posts.each do |post| %>
	  <%= render 'post', post: post %>
	<% end %>
	</div>
	<%= will_paginate @posts%>


<% end %>